/*
   _                       _         _                _                                  _   
  (_)                     | |       | |              | |                                | |  
   _ _ __ _____      _____| |__   __| | _____   _____| | ___  _ __  _ __ ___   ___ _ __ | |_ 
  | | '_ ` _ \ \ /\ / / _ \ '_ \ / _` |/ _ \ \ / / _ \ |/ _ \| '_ \| '_ ` _ \ / _ \ '_ \| __|
  | | | | | | \ V  V /  __/ |_) | (_| |  __/\ V /  __/ | (_) | |_) | | | | | |  __/ | | | |_ 
  | |_| |_| |_|\_/\_/ \___|_.__/ \__,_|\___| \_/ \___|_|\___/| .__/|_| |_| |_|\___|_| |_|\__|
 _/ |                                                        | |                             
|__/                                                         |_|                             

97072 wuerzburg / frankonia / germany / jmwd.info.ms
*/

body {margin:0; padding:0; background:#aaa;}

#content{
position: relative;
color: #fff;
font-weight: bold;
display: block;
}

#headline {
font-family: verdana, tahoma, arial;
color: white;
text-align: center;
}

iframe {
position: relative;
border: 4px solid #fff;
display: block;
margin-left: auto;
margin-right: auto; 
width: 640px;
height: 268px;
}

#images{

}

#images  img {
float:left;
position:absolute;
width: 640px;
height: 268px;	
}

.list{
width: 100%;
height: 100%;	
}

#images img.show {
	z-index:500
}
	
.clear {
	clear: both;
}
